language: julia

os:
  - linux

arch:
  - amd64

# julia:
#   - 1.2
#   - 1.4
#   - nightly

notifications:
  email: false

jobs:
  include:
    - name: "DEV MASTERS"
      julia: 1.4
      script:
      - julia --project --color=yes --check-bounds=yes -e 'using Pkg; Pkg.add(PackageSpec(name="DistributedFactorGraphs", rev="master")); Pkg.build(); Pkg.test(coverage=true)'
    - name: "MASTER AND TAGS"
      julia: 1.3
    - name: "Julia nightly"
      julia: nightly
    - name: "ARM64, Julia 1.3"
      arch: arm64
      julia: 1.3
  fast_finish: true
  allow_failures:
    - julia: nightly
    - arch: arm64
    - name: "MASTER AND TAGS"

addons:
  apt:
    packages:
    - hdf5-tools
    - texlive-latex-base
    - texlive-pictures
    - preview-latex-style
    - dot2tex

before_script:
  - if [ `arch` == x86_64 ]; then pip install dot2tex; fi

# script:
#   - julia --color=yes -e 'using Pkg; Pkg.build()'
#   - julia --check-bounds=yes --color=yes -e 'using Pkg; Pkg.test(coverage=true)'
#temporary testing agains DFG master for DFG v0.8.0 development
# script:
#   - julia --project --color=yes --check-bounds=yes -e 'using Pkg; Pkg.add(PackageSpec(name="DistributedFactorGraphs", rev="master")); Pkg.build(); Pkg.test(coverage=true)'

after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("IncrementalInference")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
