language: julia
os:
  - linux
julia:
  - release
  - nightly
notifications:
  email: false

after_success:
  - julia -e 'cd(Pkg.dir("KernelDensityEstimate")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
