language: julia
os:
  - linux
julia:
  - 0.6
  - 0.7
  - 1.0
  - nightly
notifications:
  email: false
matrix:
  allow_failures:
    - julia: 0.7
    - julia: 1.0
    - julia: nightly
addons:
  apt:
    packages:
    - hdf5-tools
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.test("IncrementalInference"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("IncrementalInference")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
